.form{
    margin-top: 30px;
    .input-container{
        display: flex;
        justify-content: space-between;
        margin-top:15px;
        input{
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 250px;
            padding-left: 10px;
            border: 0;
        }
    }
    .response-container{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        align-items: center;
        font-weight:700;
        color: rgba(3, 113, 14, 1);
    }
    .error{
        margin-top: 20px;
        color:rgba(159, 0, 19, 1);
        font-weight: 700;
    }
}